@import '../abstract/variables';
@import '../abstract/mixins';
@import '../abstract/mediaQueries';

.insertion__text{
  h3{
    @include textDescription;
  }
}
.insertion__values{
  align-items: center;
  background-color: $tertiary-color;
  border-radius: 15px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  &:hover{
    border: 2px solid $num-emphasis-color;
  }
  p{
    @include textDescription;
  }
  input{
    height: 40px;
    width: 80%;
    @include inputStyle;
  } 
}