@import '../abstract/variables';

.persons{
  margin-top: 30px;
  h3{
    @include textDescription;
  }
  .persons__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}