@import '../abstract/variables';

.reset__btn{
  font-family: $font-robotoMono;
  text-transform: uppercase;
  background-color: $num-emphasis-color;
  color: $primary-color;
  font-size: 1.3rem;
  margin-top: 100px;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  &:hover{
    background-color: $bg-color;
  }
}

