@import '../abstract/variables';
@import '../abstract/variables';
@import '../abstract/mediaQueries';

.select{
  margin-top: 30px;
  h3{
    @include textDescription;
  }
  .select__btn{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    @include phone{
      justify-content:flex-start;
    }
    .select__percentage{
      border-radius: 5px;
      height: 50px;
      width: 140px;
      @include desktop{
        width: 115px;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .btn{
      background-color: $primary-color;
      color: $card-color;
      font-size: 1.3rem;
      font-weight: 500;
      &:hover{
        background-color: $secondary-color;
        color: $primary-color;
      }
    }
    .select__custom{
      padding-right: 5%;
      @include inputStyle;
      &:focus, &:hover{
        border: 2px solid $num-emphasis-color;
      }
    }
  }
}
