@import '../abstract/variables';

.title{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  h1{
    color: $title-color;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }
}