@import 'variables';

*{
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: $bg-color;
  font-family: $font-SpaceMono;
  max-height: 100vh;
  min-width: 360px;
}

//remove spinner inner and outer for inputs type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
// remove spinner for mozilla firefox browser
input[type=number]{
  -moz-appearance:textfield;  
}
::placeholder { // for others browsers
  color: $input-color;
  opacity: 1;
}
:-ms-input-placeholder { // for IE browser
  color: $input-color;
}
::-ms-input-placeholder {// for Edge browser
  color: $input-color;
}