@import 'variables';

//style use in h3
@mixin textDescription() {
  color: $title-color;
  font-size: 1.1rem;
  font-weight: 500;  
}

//default style for inputs
@mixin inputStyle() {
  background-color: $tertiary-color;
  color: $primary-color;
  font-weight: 700;
  font-size: 1.3rem;
  outline: none;
  outline: none;
  text-align: right;
}

//use in divs for amount/person and total/person !!INSIDE 'OUTPUT' MIXIN
@mixin resultStyle() {
  color: $num-emphasis-color;
  font-size: 2.5rem;
  font-weight: 700;
}

//style for output of values by person used in total.scss and amount.scss
@mixin output() {
  align-items: center;
  display: flex;
  justify-content: space-between;
  .amount__text{
    color: $card-color;
    font-weight: 500;
    p{
      &:nth-child(2){
        color: $bg-color;
      }      
    }    
  }
  .output{
    @include resultStyle;
  }
}