//colors
$bg-color: hsl(185, 41%, 84%);
$card-color: hsl(0, 0%, 100%);
$primary-color: hsl(183, 100%, 15%);
$secondary-color:  #26C2AD;
$tertiary-color: #f3f8fb;
$error-color: #df683d;
$border-color: #66B5AA;
$num-emphasis-color: #22c5ac;
$title-color: #3b6062;
$input-color: #5a6f70b4;

//fonts
$font-SpaceMono: 'Space Mono', monospace;
