//colors
$bg-color: #c4e4e7;
$card-color: #FFFFFF;
$primary-color: #00474b;
$secondary-color: #26C2AD;
$tertiary-color: #f3f8fb;
$error-color: #d6a695;
$border-color: #66B5AA;
$num-emphasis-color: #22c5ac;
$title-color: #3b6062;