* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
  max-height: 100vh;
  min-width: 360px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-moz-placeholder {
  color: rgba(90, 111, 112, 0.7058823529);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(90, 111, 112, 0.7058823529);
  opacity: 1;
}

::placeholder {
  color: rgba(90, 111, 112, 0.7058823529);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgba(90, 111, 112, 0.7058823529);
}

::-ms-input-placeholder {
  color: rgba(90, 111, 112, 0.7058823529);
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.title h1 {
  color: #3b6062;
  font-family: "Space Mono", monospace;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.title h1 span {
  display: block;
}

.container {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 1px 1px 6px 1px #66B5AA;
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 968px;
  margin-top: 50px;
  padding: 2rem;
  width: 100%;
}
@media screen and (min-width: 668px) {
  .container {
    border-radius: 24px;
    margin: 50px auto 50px auto;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 15px;
  }
}

.container__left {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container__left {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .container__left {
    max-width: 380px;
  }
}

.container__right {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 15px;
  margin-top: 30px;
  padding: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container__right {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .container__right {
    max-width: 388px;
    padding: 2rem;
  }
}

.insertion__text h3 {
  color: #3b6062;
  font-size: 1.1rem;
  font-weight: 500;
}

.insertion__values {
  align-items: center;
  background-color: #f3f8fb;
  border-radius: 15px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
}
.insertion__values:hover {
  border: 2px solid #22c5ac;
}
.insertion__values p {
  color: #3b6062;
  font-size: 1.1rem;
  font-weight: 500;
}
.insertion__values input {
  height: 40px;
  width: 80%;
  background-color: #f3f8fb;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  font-size: 1.3rem;
  outline: none;
  outline: none;
  text-align: right;
}

.select {
  margin-top: 30px;
}
.select h3 {
  color: #3b6062;
  font-size: 1.1rem;
  font-weight: 500;
}
.select .select__btn {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
@media screen and (min-width: 668px) {
  .select .select__btn {
    justify-content: flex-start;
  }
}
.select .select__btn .select__percentage {
  border-radius: 5px;
  height: 50px;
  width: 140px;
}
@media screen and (min-width: 1024px) {
  .select .select__btn .select__percentage {
    width: 115px;
  }
}
.select .select__btn .select__percentage:hover {
  cursor: pointer;
}
.select .select__btn .btn {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 500;
}
.select .select__btn .btn:hover {
  background-color: #26C2AD;
  color: hsl(183deg, 100%, 15%);
}
.select .select__btn .select__custom {
  padding-right: 5%;
  background-color: #f3f8fb;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  font-size: 1.3rem;
  outline: none;
  outline: none;
  text-align: right;
}
.select .select__btn .select__custom:focus, .select .select__btn .select__custom:hover {
  border: 2px solid #22c5ac;
}

.persons {
  margin-top: 30px;
}
.persons h3 {
  color: #3b6062;
  font-size: 1.1rem;
  font-weight: 500;
}
.persons .persons__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.amount .amount__text {
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
}
.amount .amount__text p:nth-child(2) {
  color: hsl(185deg, 41%, 84%);
}
.amount .output {
  color: #22c5ac;
  font-size: 2.5rem;
  font-weight: 700;
}

.total {
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.total .amount__text {
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
}
.total .amount__text p:nth-child(2) {
  color: hsl(185deg, 41%, 84%);
}
.total .output {
  color: #22c5ac;
  font-size: 2.5rem;
  font-weight: 700;
}

.reset__btn {
  background-color: #22c5ac;
  border-radius: 15px;
  color: hsl(183deg, 100%, 15%);
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  height: 50px;
  margin-top: 50px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}
.reset__btn:hover {
  background-color: hsl(185deg, 41%, 84%);
}
@media screen and (min-width: 768px) {
  .reset__btn {
    margin-top: 180px;
  }
}
@media screen and (min-width: 1024px) {
  .reset__btn {
    margin-top: 100px;
  }
}

.error {
  border: 2px solid #df683d;
}

.error__txt {
  color: #df683d;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */